@font-face {
    font-family: "Ailerons";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("../../../apps/web/src/fonts/Ailerons-Typeface.otf") format("opentype");
}

:root {
    --font-ailerons: "Ailerons";
}
