@font-face {
    font-family: "champion";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url("../../../apps/web/src/fonts/Champion-HTF-Lightweight.ttf") format("woff2");
}

:root {
    --font-champion: "champion";
}
