@font-face {
    font-family: "satoshi";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url("../../../apps/web/src/fonts/Satoshi-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "satoshi";
    font-style: italic;
    font-display: swap;
    font-weight: 500;
    src: url("../../../apps/web/src/fonts/Satoshi-MediumItalic.woff2") format("woff2");
}

:root {
    --font-satoshi: "satoshi";
}
