@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    /*:root {*/
    /*    --text: #0c0d0e;*/
    /*    --background: #e7ecee;*/
    /*    --primary: #2f4751;*/
    /*    --secondary: #96c0cf;*/
    /*    --accent: #3d88a4;*/
    /*}*/

    :root {
        --text: #f1f2f3;
        --background: #111618;
        --primary: #aec6d0;
        --secondary: #305a69;
        --accent: #5ba7c2;
    }

    * {
        @apply antialiased font-raleway text-base text-clr-text scroll-smooth
    }

    body {
        @apply bg-clr-background min-h-screen flex flex-col
    }

    main {
        @apply flex-grow
    }

    h1 {
        @apply font-ailerons
    }

    .btn {
        @apply flex justify-center items-center rounded-full font-raleway leading-none text-base px-6 py-3 text-center w-fit transition-all duration-300
    }

    .btn-primary {
        @apply text-clr-background bg-clr-primary border border-clr-primary hover:bg-transparent hover:text-clr-text
    }

    .btn-secondary {
        @apply text-clr-text bg-clr-secondary border border-clr-secondary hover:bg-transparent
    }

    .btn-accent {
        @apply text-clr-background bg-clr-accent border border-clr-accent hover:bg-transparent hover:text-clr-text
    }

    .btn-white {
        @apply text-clr-background border border-white bg-white hover:bg-transparent hover:text-clr-text
    }

    .btn-outlined {
        @apply text-clr-text border border-white hover:bg-white hover:text-clr-background
    }

    .btn-social {
        @apply p-2 border border-clr-accent bg-clr-accent hover:-translate-y-1 hover:drop-shadow-md
    }
}

@keyframes rotateGradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.circle-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-dasharray: 0 100;
    transition: stroke-dasharray 0.3s linear;
}

@layer utilities {
    input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
        @apply -translate-y-[calc(50%_+_8px)] text-sm
    }

    input:focus ~ label {
        @apply left-0;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 1px solid #212121;
        -webkit-text-fill-color: #212121;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}